h1 {
    font-size: 37px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(209, 78, 78);
}

.nav__list {
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.nav__list li {
    font-size: 20px;
    padding: 0 20px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.nav__link {
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: color .2s linear;
}

.nav__link:hover {
    color: orange;
}

.linkedin {
    text-decoration: underline;
    color: blue;
}

.section-intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lastname {
    color: rgb(209, 78, 78);
}